{% extends 'JobeetJobeetBundle::base.html.twig' %}

{% block body -%}
    <ul class="breadcrumb">
	    <li>
	       <span class="icon-home"></span>
	       <a href="{{ path('job') }}">Jobs</a><span class="divider">/</span>
	    </li>
        <li class="active">Job edit</li>
    </ul>

    <div class="page-header">
        <h1>Job edit</h1>
    </div>

    {{ form(edit_form) }}

    {{ form(delete_form) }}

{% endblock %}
